body {
    background-color: #F1F4F6;
}
.custom-popover-position {
    position: absolute;
    top: 10px;
    left: 20px;
}

.top-hero-icon {
    width: 60px;
    height: 60px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 12px) {
    .top-hero-icon {
        display: none;
        
    }
    .top-icon-mid-item {
        justify-content: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}